@using Poker.Common.Enums;
@using Poker.Components.ButtonComponent;

<div class="player @(PlayerDetails.Winner ? "first" : "")">
    <strong>Player @PlayerDetails.Id</strong>
    <img src="@PlayerDetails.Picture" alt="Picture" width="50" />
    <img src="@PlayerDetails.Flag" alt="Flag" />
    <p><span class="file">Player@(PlayerDetails.Id).txt</span>: @PlayerDetails.Name</p>
    <p><span class="file">PotOddsPlayer@(PlayerDetails.Id).txt</span>: @PlayerDetails.PotOdds</p>
    <p>Chips: @PlayerDetails.Chips</p>
    <p>Move: @PlayerDetails.Move</p>
    @* <p>Info: @PlayerDetails.Info</p> *@
    @* <p>Unknown: @PlayerDetails.Unknown</p> *@
    
    <div class="hole-cards">
        <img src="@PlayerDetails.Card1" alt="" style="width:10%;" />
        <img src="@PlayerDetails.Card2" alt="" style="width:10%;" />
    </div>
    
    <p><span>@PlayerDetails.RankName</span> (<span class="file">@PlayerDetails.Rank</span>)</p>

    @if (PlayerDetails.IsDealer)
    {
        <ButtonComponent ButtonType="ButtonType.Dealer" />
    }
    @if (PlayerDetails.IsBigBlind)
    {
        <ButtonComponent ButtonType="ButtonType.BigBlind" />
    }
    @if (PlayerDetails.IsSmallBlind)
    {
        <ButtonComponent ButtonType="ButtonType.SmallBlind" />
    }
</div>