<div class="board_1">
    <div class="cards">
        @* <img src="images/cards/12-club.png" alt="Queen Clubs (♣)" class="card" /> *@
        @* <img src="images/cards/9-club.png" alt="9 Clubs (♣)" class="card" /> *@
        @* <img src="images/cards/13-diamond.png" alt="King Diamonds (♦)" class="card" /> *@
        @* <img src="images/cards/4-heart.png" alt="4 Hearts (♥)" class="card" /> *@
        @* <img src="images/cards/13-club.png" alt="King Clubs (♣)" class="card" /> *@
        <img src="@BoardFlop1" alt="Flop 1" class="card" />
        <img src="@BoardFlopTwo" alt="Flop Two" class="card" />
        <img src="@BoardFlopThree" alt="Flop Three" class="card" />
        <img src="@BoardTurn" alt="Turn" class="card" />
        <img src="@BoardRiver" alt="River" class="card" />
    </div>
    <div class="break"></div> <!-- break -->
    <div class="table_1"></div>
</div>