<div class="board_1">
    <div class="cards">
        <img src="@BoardFlopOne" alt="Flop One" class="card" />
        <img src="@BoardFlopTwo" alt="Flop Two" class="card" />
        <img src="@BoardFlopThree" alt="Flop Three" class="card" />
        <img src="@BoardTurn" alt="Turn" class="card" />
        <img src="@BoardRiver" alt="River" class="card" />
    </div>
    <div class="break"></div> <!-- break -->
    <div class="table_1"></div>
</div>
