@page "/"
@using Poker.Common.Models
@using Poker.Server.WebApp.Components.CameraComponent;
@using Poker.Server.WebApp.Components.PlayerComponent;
@* @inject IFileService FileService *@

<PageTitle>Poker</PageTitle>

<div id="poker-table">

    <div class="row">
        <!-- Player 1 -->
        <div class="col-3">
            <CameraComponent Src="@Game.Player1.CameraUrl" />
        </div>
        <div class="col-3">
            <PlayerComponent PlayerDetails="Game.Player1" />
        </div>
        <!-- Player 2 -->
        <div class="col-3">
            <PlayerComponent PlayerDetails="Game.Player2" />
        </div>
        <div class="col-3">
            <CameraComponent Src="@Game.Player2.CameraUrl" />
        </div>
    </div>

    <hr />

    <div class="row"> <!-- justify-content-md-center -->
        <!-- Board -->
        <div class="col-md-3">
            <CameraComponent Src="@Game.Board.CameraUrl" />
        </div>
        <div class="col-md-6 text-center"> <!-- d-flex justify-content-center text-center -->
            <div>
                <img src="@Game.Board.FlopOne" alt="Board Flop 1" style="height:100px;" />
                <img src="@Game.Board.FlopTwo" alt="Board Flop 2" style="height:100px;" />
                <img src="@Game.Board.FlopThree" alt="Board Flop 3" style="height:100px;" />
                <img src="@Game.Board.Turn" alt="Board Turn" style="height:100px;" />
                @* <span>Turn</span> *@
                <img src="@Game.Board.River" alt="Board River" style="height:100px;" />
                @* <span>River</span> *@
            </div>
            <br />
            <div>
                <span class="brand">Hedley Casino</span>
            </div>
        </div>
        <div class="col-md-3">
            <p>Pot: @Game.Board.Pot</p>
            <p>Small Blind: @Game.Board.SmallBlind</p>
            <p>Big Blind: @Game.Board.BigBlind</p>
            <p>Ante: @Game.Board.Ante</p>
        </div>
    </div>

    <hr />

    <div class="row">
        <!-- Player 4 -->
        <div class="col-3">
            <CameraComponent Src="@Game.Player4.CameraUrl" />
        </div>
        <div class="col-3">
            <PlayerComponent PlayerDetails="Game.Player4" />
        </div>
        <!-- Player 3 -->
        <div class="col-3">
            <PlayerComponent PlayerDetails="Game.Player3" />
        </div>
        <div class="col-3">
            <CameraComponent Src="@Game.Player3.CameraUrl" />
        </div>
    </div>

</div>

<hr />

<div class="row">
    <div class="col">
        <button type="button" class="btn btn-danger" @onclick="Reset">Reset</button>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-6">

        <table>
            <thead>
                <tr>
                    <th>Player</th>
                    <th>File</th>
                    <th>Name</th>
                    <th>File</th>
                    <th>PotOdds</th>
                    <th>Cards</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Player1</td>
                    <td><span class="file">Player1.txt</span></td>
                    <td>@Game.Player1.Name</td>
                    <td><span class="file">PotOddsPlayer1.txt</span></td>
                    <td>@Game.Player1.PotOdds</td>
                    <td>
                        <img src="@Game.Player1.Card1" alt="" style="width:10%;" />
                        <img src="@Game.Player1.Card2" alt="" style="width:10%;" />
                    </td>
                </tr>
                <tr>
                    <td>Player2</td>
                    <td><span class="file">Player2.txt</span></td>
                    <td>@Game.Player2.Name</td>
                    <td><span class="file">PotOddsPlayer2.txt</span></td>
                    <td>@Game.Player2.PotOdds</td>
                    <td>
                        <img src="@Game.Player2.Card1" alt="" style="width:10%;" />
                        <img src="@Game.Player2.Card2" alt="" style="width:10%;" />
                    </td>
                </tr>
                <tr>
                    <td>Player3</td>
                    <td><span class="file">Player3.txt</span></td>
                    <td>@Game.Player3.Name</td>
                    <td><span class="file">PotOddsPlayer3.txt</span></td>
                    <td>@Game.Player3.PotOdds</td>
                    <td>
                        <img src="@Game.Player3.Card1" alt="" style="width:10%;" />
                        <img src="@Game.Player3.Card2" alt="" style="width:10%;" />
                    </td>
                </tr>
                <tr>
                    <td>Player4</td>
                    <td><span class="file">Player4.txt</span></td>
                    <td>@Game.Player4.Name</td>
                    <td><span class="file">PotOddsPlayer4.txt</span></td>
                    <td>@Game.Player4.PotOdds</td>
                    <td>
                        <img src="@Game.Player4.Card1" alt="" style="width:10%;" />
                        <img src="@Game.Player4.Card2" alt="" style="width:10%;" />
                    </td>
                </tr>
            </tbody>
        </table>
    
    </div>

    <div class="col-6">

        <h2>Board</h2>
        <p>
            <img src="@Game.Board.FlopOne" alt="Board Flop One" style="width:10%;" />
            <img src="@Game.Board.FlopTwo" alt="Board Flop Two" style="width:10%;" />
            <img src="@Game.Board.FlopThree" alt="Board Flop Three" style="width:10%;" />
            <img src="@Game.Board.Turn" alt="Board Turn" style="width:10%;" />
            <img src="@Game.Board.River" alt="Board River" style="width:10%;" />
        </p>

    </div>
</div>

<hr />

<div>
    <p>Change a file in '@StreamingOptionsFolder' location and see this update...</p>
    <p>Assumes 8 files in the given folder: <code>Player{1-4}.txt</code> and <code>PotOddsPlayer{1-4}.txt</code></p>
    <p>Assumes 8 files in the given folder: <code>P{1-4}C{1-2}.png</code></p>
    <p>Assumes 5 files in the given folder: <code>BoardFlop{1-2}.png</code>, <code>BoardTurn.png</code>, <code>BoardRiver.png</code></p>
</div>


@code {
    // See Code Behind
}