@page "/"
@using Poker.Common.Models
@* @inject IFileService FileService *@

<PageTitle>Poker</PageTitle>

<div id="poker-table">

    <div class="row">
        <div class="col-3">
            <p>📹 Webcam: <a href="@Stats.Player1Camera" target="_blank">@Stats.Player1Camera</a></p>
            <iframe src="@Stats.Player1Camera" />
        </div>
        <div class="col-3">
            <strong>Player 1</strong>
            <p><span class="file">Player1.txt</span>: @Stats.Player1</p>
            <p><span class="file">PotOddsPlayer1.txt</span>: @Stats.PotOddsPlayer1</p>
            <img src="@Stats.Player1Card1" alt="" style="width:10%;" />
            <img src="@Stats.Player1Card2" alt="" style="width:10%;" />
        </div>
        <div class="col-3">
            <p>📹 Webcam: <a href="@Stats.Player2Camera" target="_blank">@Stats.Player2Camera</a></p>
            <iframe src="@Stats.Player2Camera" />
        </div>
        <div class="col-3 text-right">
            <strong>Player 2</strong>
            <p><span class="file">Player2.txt</span>: @Stats.Player2</p>
            <p><span class="file">PotOddsPlayer2.txt</span>: @Stats.PotOddsPlayer2</p>
            <img src="@Stats.Player2Card1" alt="" style="width:10%;" />
            <img src="@Stats.Player2Card2" alt="" style="width:10%;" />
        </div>
    </div>

    <hr />

    <div class="row justify-content-md-center">
        <div class="col-md-3">
            <p>📹 Webcam</p>
            <p><a href="@Stats.BoardCamera" target="_blank">@Stats.BoardCamera</a></p>
            <iframe src="@Stats.BoardCamera" />
        </div>
        <div class="col-md-9">
            <img src="@Stats.BoardFlopOne" alt="Board Flop 1" style="height:100px;" />
            <img src="@Stats.BoardFlopTwo" alt="Board Flop 2" style="height:100px;" />
            <img src="@Stats.BoardFlopThree" alt="Board Flop 3" style="height:100px;" />
            <img src="@Stats.BoardTurn" alt="Board Turn" style="height:100px;" />
            @* <span>Turn</span> *@
            <img src="@Stats.BoardRiver" alt="Board River" style="height:100px;" />
            @* <span>River</span> *@
            <br />
            <span class="brand">Hedley Casino</span>
        </div>
        @* <div class="col">
        </div> *@
    </div>

    <hr />

    <div class="row">
        <div class="col-3">
            <p>📹 Webcam: <a href="@Stats.Player3Camera" target="_blank">@Stats.Player3Camera</a></p>
            <iframe src="@Stats.Player3Camera" />
        </div>
        <div class="col-3">
            <strong>Player 3</strong>
            <p><span class="file">Player3.txt</span>: @Stats.Player3</p>
            <p><span class="file">PotOddsPlayer3.txt</span>: @Stats.PotOddsPlayer3</p>
            <img src="@Stats.Player3Card1" alt="" style="width:10%;" />
            <img src="@Stats.Player3Card2" alt="" style="width:10%;" />
        </div>
        <div class="col-3">
            <p>📹 Webcam: <a href="@Stats.Player4Camera" target="_blank">@Stats.Player4Camera</a></p>
            <iframe src="@Stats.Player4Camera" />
        </div>
        <div class="col-3 text-right">
            <strong>Player 4</strong>
            <p><span class="file">Player4.txt</span>: @Stats.Player4</p>
            <p><span class="file">PotOddsPlayer4.txt</span>: @Stats.PotOddsPlayer4</p>
            <img src="@Stats.Player4Card1" alt="" style="width:10%;" />
            <img src="@Stats.Player4Card2" alt="" style="width:10%;" />
        </div>
    </div>

</div>

<hr />

<div class="row">
    <div class="col">
        <button type="button" class="btn btn-danger" @onclick="Reset">Reset</button>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-6">

        <table>
            <thead>
                <tr>
                    <th>Player</th>
                    <th>File</th>
                    <th>Name</th>
                    <th>File</th>
                    <th>PotOdds</th>
                    <th>Cards</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Player1</td>
                    <td><span class="file">Player1.txt</span></td>
                    <td>@Stats.Player1</td>
                    <td><span class="file">PotOddsPlayer1.txt</span></td>
                    <td>@Stats.PotOddsPlayer1</td>
                    <td>
                        <img src="@Stats.Player1Card1" alt="" style="width:10%;" />
                        <img src="@Stats.Player1Card2" alt="" style="width:10%;" />
                    </td>
                </tr>
                <tr>
                    <td>Player2</td>
                    <td><span class="file">Player2.txt</span></td>
                    <td>@Stats.Player2</td>
                    <td><span class="file">PotOddsPlayer2.txt</span></td>
                    <td>@Stats.PotOddsPlayer2</td>
                    <td>
                        <img src="@Stats.Player2Card1" alt="" style="width:10%;" />
                        <img src="@Stats.Player2Card2" alt="" style="width:10%;" />
                    </td>
                </tr>
                <tr>
                    <td>Player3</td>
                    <td><span class="file">Player3.txt</span></td>
                    <td>@Stats.Player3</td>
                    <td><span class="file">PotOddsPlayer3.txt</span></td>
                    <td>@Stats.PotOddsPlayer3</td>
                    <td>
                        <img src="@Stats.Player3Card1" alt="" style="width:10%;" />
                        <img src="@Stats.Player3Card2" alt="" style="width:10%;" />
                    </td>
                </tr>
                <tr>
                    <td>Player4</td>
                    <td><span class="file">Player4.txt</span></td>
                    <td>@Stats.Player4</td>
                    <td><span class="file">PotOddsPlayer4.txt</span></td>
                    <td>@Stats.PotOddsPlayer4</td>
                    <td>
                        <img src="@Stats.Player4Card1" alt="" style="width:10%;" />
                        <img src="@Stats.Player4Card2" alt="" style="width:10%;" />
                    </td>
                </tr>
            </tbody>
        </table>
    
    </div>

    <div class="col-6">

        <h1>Board</h1>
        <p>
            <img src="@Stats.BoardFlopOne" alt="Board Flop One" style="width:10%;" />
            <img src="@Stats.BoardFlopTwo" alt="Board Flop Two" style="width:10%;" />
            <img src="@Stats.BoardFlopThree" alt="Board Flop Three" style="width:10%;" />
            <img src="@Stats.BoardTurn" alt="Board Turn" style="width:10%;" />
            <img src="@Stats.BoardRiver" alt="Board River" style="width:10%;" />
        </p>

    </div>
</div>

<hr />

<div>
    <p>Change a file in '@StreamingOptionsFolder' location and see this update...</p>
    <p>Assumes 8 files in the given folder: <code>Player{1-4}.txt</code> and <code>PotOddsPlayer{1-4}.txt</code></p>
    <p>Assumes 8 files in the given folder: <code>P{1-4}C{1-2}.png</code></p>
    <p>Assumes 5 files in the given folder: <code>BoardFlop{1-2}.png</code>, <code>BoardTurn.png</code>, <code>BoardRiver.png</code></p>
</div>


@code {
    // See Code Behind
}